<%= form_for @article, class: "form-horizontal" do |f| %>

    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
    <%= f.label :name, class: "col-md-4 control-label" %>
      <div class='col-md-4'>
        <%= f.text_field :name, class: "form-control" %>
      </div>
  </div>

  <div id="container">
    <div class="editable">

    <div class="form-group">
    <%= f.label :body, class:"col-md-8 control-label"%>
      <div class='col-md-8'>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
  </div>

    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default btn-primary", onclick: "$('#article_content').val( $('#editable').cleanHtml());" %>
  </div>
<% end %>
<script src="medium-editor.js"></script>


<script>
  var editor = new MediumEditor('.editable', {
    anchorInputPlaceholder: 'Type a link',
    buttons: ['bold', 'italic', 'underline', 'quote', 'orderedlist', 'unorderedlist', 'indent']
  });

  $(document).on("ready", function() {
    $('#editable').editable();
  })
</script>
